/* Variáveis do CSS */
:root {
    --primary-color: #00171F;
    --text-color: #00171F;
    --background-color: #EBEBEB;
    --input-padding: 5px;
    --input-margin: 9px;
    --border-radius: 15px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --btn-padding: 5px 25px;
    --btn-font-size: 16px;
    --btn-radius: 15px;
    --btn-bg-color: #00A8E8;
    --btn-hover-color: #003459;
}

/* Resetando margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos gerais para o body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: var(--background-color);
    user-select: none;
}
.col{
    z-index: 1;
}
.menu-lateral{
    z-index: 2;
}

/* Estilos para o label */
label {
    margin-left: 10px;
    display: inline-block;
}

/* Estilos P e H2 */
h2,p{margin: 10px 10px;}

/* Estilos para ocultar elemento do alert */
#textoGerado,.content, #alerta {display: none;}
/* Estilos para o alert */
#alerta {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

/* Estilos para o bloco */
.tab-container > article.trat_qbox{
    margin: 10px 2px 10px 55px;
    width: 300px;
    height: auto;
}
.trat_qbox_1{
    height: auto;
}

/* Estilos bloco de notas */
textarea, #Ocorrência {
    width: 100%;
    padding: 10px;
    resize: none;
    border-radius: var(--border-radius);
    margin-top: 5px;
    height: 350px;
}
#Ocorrência{
    height: 65px;
}

/* Estilos criacao de emails e contato com o reponsavel */
.qboxtrat, .tab-container > article, section {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: var(--border-radius);
    margin: 30px 5px 30px 75px;
    padding: 10px;
    width: 600px;
    height: auto;
    box-shadow: var(--box-shadow);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tab-container > article.question{
    margin: 30px 5px 30px 1px;
    width: 500px;
    height: auto;
}
.tab-container .tab-container-notes{
    margin: 55px 5px 5px 5px;
}

.tab-container .tab-container-emails{
    margin: 30px 5px 30px 20px;
}
.tab-container .trat_qbox{
    margin: 10px 2px 10px 55px;
    width: 350px;
}
.tab-container .rest{
    width: 600px;
    height: 385px;
}

.tab-container .email_restabelecimento{
    width: 500px;
    height: 385px;
    margin: 30px 5px 30px 1px;
}

.tab-container .email_restabelecimento button{
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
}
.tab-container .rest button{
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
}
select{
    border: 1px solid #000000;
    border-radius: var(--border-radius);
    padding: var(--input-padding);
    margin: var(--input-margin);
    font-size: 14px;
    width: 350px;
    text-align: center;
    transition: border-color 0.3s;
    position: relative;
    left: 35px;
    @media (max-width: 768px) {
        width: 200px;
    };
}

/* Estilos hover */
/* .qboxtrat:hover, .tab-container > article:hover, section:hover {
    transform: scale(1.02);
}

.qboxtrat:hover, .tab-container1 > article:hover, section:hover {
    transform: scale(1.02);
} */

/* Estilos tabela pronta reposta */
.tab-container1 > article, section{
    background-color: white;
    border: 2px solid #ccc;
    border-radius: var(--border-radius);
    margin: 15px 5px 5px 5px;
    padding: 10px;
    width: 600px;
    box-shadow: var(--box-shadow);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Estilos botoes */
button {
    padding: var(--btn-padding);
    margin: 8px 5px;
    background-color: var(--btn-bg-color);
    color: white;
    border: none;
    border-radius: var(--btn-radius);
    font-size: var(--btn-font-size);
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.2s ease;
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

ol > button {
    margin: 8px 5px;
    padding: 0px 5px;
    background-color: var(--btn-bg-color);
    color: white;
    border: none;
    border-radius: var(--btn-radius);
    font-size: var(--btn-font-size);
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.35s ease;
    width: 100px;
    height: 25px;
}

button:active {
    transform: scale(0.50);
    background-color: var(--btn-hover-color);
}

/* Estilos das abas */
.tab-container,
.tab-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tab-container h2,
.tab-container1 h2 {
    font-size: 20px;
    text-align: center;
    color: var(--primary-color);
    margin-top: 5px;
}

.tab-container p, .tab-container ul li,
.tab-container1 p, .tab-container1 ul li,
.tab-container ol li {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    padding: 5px;
}

.tab-container ol li{
    margin-left: 15px;
}

.tab-container ul,
.tab-container1 ul {
    margin: 10px 0;
    padding-left: 20px;
}

.container {
    overflow-x: auto;
    max-width: 100%;
    overflow: hidden;
}

.table-section {
    max-height: 250px;
    overflow-y: auto;
}


/* Estilos da tabela */
#resultTable {
    width: 100%;
    height: 185px;
    border-collapse: collapse;
    box-sizing: border-box;
}
#searchInput{
    width: 560px;
}
#resultTable th, #resultTable td {
    padding: 12px;
    text-align: center;
    font-size: 9px;
    border-radius: var(--border-radius);
}

#resultTable th {
    background-color: var(--primary-color);
    color: white;
}

#resultTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#resultTable tr:hover {
    background-color: #ddd;
}

/* Estilos inputs */
input[type="text"], input[type="number"] {
    padding: var(--input-padding);
    margin: var(--input-margin);
    border: 1px solid #000000b8;
    border-radius: var(--border-radius);
    font-size: 12px;
    width: 350px;
    text-align: center;
    transition: border-color 0.3s;
}
input[type="text"]:focus, input[type="number"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilos para posicionar os inputs */
#Placa,#Carreta,#Motorista,#Operação,#Carga,#Localização,#Situação,#cor,
#cpf,#veiculo,#modelo,#carreta_pr,#motorista_pr,#cavalo,#local {position: relative;}
#placa_ctt_resp,#mot_ctt_resp,#loc_ctt_resp{position: relative;}

.tab-container .question > .check_ctt{margin-left: 10px;}


/* Responsividade */
@media (max-width: 768px) {
    input[type="text"] {
        width: 200px;
    }
    #ocorrencia_motorista,
    #ocorrencia_responsavel{
        width: 300px;
    }
    #ocorrencia_policial{
        width: 150px;
    }
    #placa_ctt_resp,#mot_ctt_resp,#loc_ctt_resp{
        width: 150px;
    }
}
@media (max-width: 768px) {
    .tab-container > article, section {
        width: 350px;
        margin: 10px;
    }.tab-container1 > article, section {
        width: 350px;
        margin: 10px;
    }
}

